*{
    box-sizing: border-box;
}

#main_content{
    background-color: rgba(60,63,65,0.8);
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 15%;
    padding: 1%;
}

.buuton {
    text-align: center;
    padding: 0.5%;
    vertical-align: middle;
    cursor: pointer;
}

input{
    background-color: white;
    border: none;
    border-radius: 5px;
}

input:hover{
    background-color: #cccccc;
}


html
{
    background-image: url("../attente.jpg");
    background-attachment: fixed;
    background-size: cover;
}
