*{
    box-sizing: border-box;
}

body
{
    background-image: url("../calendrier.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.selections{
    display: flex;
    font-size: 20px;
    text-align: center;
    margin: 1%;
}

.selections a, .selections span
{
    text-align: center;
    padding: 10px;
    color: white;
}

input{
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(255,255,255,0);
}

.retour{
    font-size: 14px;
    background-color: #9BA8C6;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.retour:hover{
    background-color: #8692AE;
}


.buuton{
    flex-grow: 2;
}

table{
    border-collapse: collapse;
    text-align: center;
    display: block;
    width: auto;
    background-color: #eeeeee;
}

td{
    width: 200px;
    border: 1px solid #cccccc;
}

td:hover{
    background-color: #cccccc;
}

.jour{
    background-color: #cccccc;
}

table a {
    text-decoration : none;
    color: rgb(0, 1, 248);
}

.milieu
{
    justify-content: center;
    display: flex;
}

.couleur
{
    color: white;
}