*{
    box-sizing: border-box;
}

body{
    background-image: url("../liste.jpg");
    background-attachment: fixed;
    background-size: cover;
}

table
{
    background: rgba(64, 64, 64, 0.90);
    color: white;
    border-radius: 10px;
    width: 500px;
    height: 120px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    padding: 45px 30px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

input, select {
    padding: 10px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

td {
    padding: 1%;
}

.buuton:hover
{
    background-color: #cccccc;
    cursor: pointer;
}

#main_content{
    margin-top: 100px;
}



